# Supabase
VITE_SUPABASE_URL= "https://wpcknqmkbetumdaextjh.supabase.co"
VITE_SUPABASE_ANON_KEY= "sb_publishable_Z1Ah7C3uoUGMwP2Tn0yg8w_bHCJ7-Vn"

# OpenAI
VITE_OPENAI_API_KEY= "AIzaSyC-1vdmxT5I4z30RDvasodhnA1yU6a3TTk"

# Google OAuth
VITE_GOOGLE_CLIENT_ID= "69596494330-o39snrhasfsdp342qfsbd9qkvjiebqb3.apps.googleusercontent.com"

# App
VITE_APP_NAME=Purnit
VITE_APP_ENV=development
